[submodule "parkpulse-web"]
	path = parkpulse-web
	url = https://github.com/Marbjo07/ParkPulse-website.git
[submodule "parkpulse-accessmanager"]
	path = parkpulse-accessmanager
	url = https://github.com/Marbjo07/ParkPulse-accessmanager.git
